<main id="main">
  <div id="carrito-container">
    <div id="block_01">
      <% for (let i = 0 ; i < products.length ; i++) { %>
        <div class="product-container">
          <div class="carrito-imagen">
            <div class="lower-rect">
              <!--<div style="background-image: url(../images/home/equipo.jpg);" class="image"></div>-->
              <div style="background-image: url(..<%=misc.pathImages%><%=products[i].image%>);" class="image"></div>
            </div>
          </div>
          <div class="descripcion-container">
            <div class="carrito-producto-detalle">
              <!--<img class="icon" src="/images/logos/adidas.png" />-->
              <img class="icon" src="<%= misc.pathLogos %><%= products[i].icon %>">
              <!--<div class="codigo">Cód.: PRX-56789-2</div>-->
              <div class="codigo"><%= products[i].product_id %></div>
              <!--<div class="precio">$ 3.200,00</div>-->
              <div class="precio">$<%= Number(products[i].price).toFixed(2) %></div>
              <!--<div class="detalles">Hombre, Adulto, XL, Rojo</div>-->
              <div class="detalles"><%= products[i].model %></div>
            </div>
            <div class="carrito-marca-cantidad">
              <div class="borrar">
                <!--<div class="centrar">X</div>-->
                <a class="delete-link" href="" itemid="<%= products[i].id %>">
                  <img src="<%= misc.pathIcons %>trash.png" width="75%">
                </a>
              </div>
              <div class="cantidad">Unidades</div>
              <div class="counter">
                <button class="upcount" type="button" itemid="<%= products[i].id %>">+</button>
                <!--<div class="count-value">1</div>-->
                <div class="count-value"><%= products[i].quantity %></div>
                <button class="dncount" type="button" itemid="<%= products[i].id %>">-</button>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>

    <div class="container_02_03">
      <div id="block_02">
        <!-- ------------------------payment -->
        <form id="payment" action="/" method="POST">
          <div id="pay-1st-row">
            <div class="frm-title">TICKET</div>
            <div class="qty-items"><%= totals.items %></div>
            <img id="cart" src="<%= misc.pathIcons %>cart.png">
          </div>
          <div class="subtotal">
            <label class="st-lbl1">Subtotal</label>
            <label class="st-lbl2">$<%= Number(totals.subTotal).toFixed(2) %></label>
          </div>
          <div class="envio">
            <select id="cart-select" class="env-sel">
              <option value="envio">&nbsp;Envío</option>
              <option value="retira-sucursal">&nbsp;Retira en sucursal</option>
              <option value="ml-envio">&nbsp;Mercado Envío</option>
              <option value="oca-fast">&nbsp;OCA Postal Inmediato</option>
              <option value="oca-normal">&nbsp;OCA Postal Normal</option>
            </select>
            <label class="env-lbl">$0,00</label>
          </div>
          <div class="descuento">
            <label class="desc-lbl1">Descuento</label>
            <label class="desc-lbl2">$0,00</label>
          </div>
          <hr class="tot-line">
          <div class="total">
            <label class="tot-lbl1">Total</label>
            <label class="tot-lbl2">$<%= Number(totals.total).toFixed(2) %></label>
          </div>
          <button id="btn-pagar" type="button">Pagar</button>
          <button id="btn-vaciar" type="button">Vaciar carrito</button>
          <button id="btn-continuar" type="submit" formaction="/" formmethod="GET">Continuar comprando</button>
        </form>
      </div>
      <div id="block_03">
        <div class="txt-otros">Otros productos similares</div>
        <% for (let i = 0 ; i < others.length ; i = i + 4) { %>
          <div id="grid-otros">
            <div class="otros1">
              <!--<div class="image" style="background-image: url(/images/sport/run-update-2021-500x356-2.webp);"></div>-->
              <% if (others[i]) { %>
                <a href="/productos/detail/<%= others[i].id %>">
                  <div class="image" style="background-image: url(<%=misc.pathImages%><%=others[i].image?others[i].image:misc.defaultImage%>);"></div>
                </a>
              <% } %>
            </div>
            <div class="otros2">
              <!--<div class="image" style="background-image: url(/images/sport/run-update-2021-500x356-2.webp);"></div>-->
              <% if (others[i+1]) { %>
                <a href="/productos/detail/<%= others[i+1].id %>">
                  <div class="image" style="background-image: url(<%=misc.pathImages%><%=others[i+1].image?others[i+1].image:misc.defaultImage%>);"></div>
                </a>
              <% } %>
            </div>
            <div class="otros3">
              <!--<div class="image" style="background-image: url(/images/sport/run-update-2021-500x356-2.webp);"></div>-->
              <% if (others[i+2]) { %>
                <a href="/productos/detail/<%= others[i+2].id %>">
                  <div class="image" style="background-image: url(<%=misc.pathImages%><%=others[i+2].image?others[i+2].image:misc.defaultImage%>);"></div>
                </a>
              <% } %>
            </div>
            <div class="otros4">
              <!--<div class="image" style="background-image: url(/images/sport/run-update-2021-500x356-2.webp);"></div>-->
              <% if (others[i+3]) { %>
                <a href="/productos/detail/<%= others[i+3].id %>">
                  <div class="image" style="background-image: url(<%=misc.pathImages%><%=others[i+3].image?others[i+3].image:misc.defaultImage%>);"></div>
                </a>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <script src="/js/carrito.js"></script>
</main>